body {
    width: 300px;
    padding: 20px;
    background: url('../assets/images/safari_firefox_chrome_logo.png') no-repeat top right transparent;
}

section{
}

h1 {
    margin: 0;
    font-size: 18px;
}

p {
    font-size: 12px;
}

ol {
    margin: 0;
    padding-left: 20px;
    width: 120px;
}

ol li {
    font-size: 12px;
}

div {
    float: left;
    padding-bottom: 20px;
}

.float-right{
    float: right;
}
